<footer>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center py-5 text-center">
			
   			<div class="col-12 d-none d-md-block">
				
				<a class="mb-3" href="sms:1-917-268-3337"><span class="far fa-comment fa-2x mr-2 sm-icons"></span></a>
				<a class="mb-3" href="mailto:info@levamediagroup.com"><span class="far fa-envelope fa-2x mr-2 sm-icons"></span></a>
				<img class="d-inline-block mx-3" src="img/logos/nav-logo-200x200.png">
				<a href="https://www.facebook.com/levamedia/" target="_blank"><span class="fab fa-facebook fa-2x sm-icons my-2 mx-2 "></span></a>
				<a href="https://www.instagram.com/levamedia/" target="_blank"><span class="fab fa-instagram fa-2x sm-icons my-2 mx-2 "></span></a>
				
				<p class="mt-5">©Leva Media Group 2018</p>
						
			</div>
			

			<div class="col-12 d-block d-md-none">
				<div class="row justify-content-center align-items-center">
					<div class="col-2 contact-details">
					<a class="mb-3" href="sms:1-917-268-3337"><span class="far fa-comment fa-2x mr-2 sm-icons"></span></a>
					</div>	

					<div class="col-2 contact-details">
					<a class="mb-3" href="mailto:info@levamediagroup.com"><span class="far fa-envelope fa-2x mr-2 sm-icons"></span></a>
					</div>
					<div class="col-2 contact-details">
					<img class="img-fluid" src="img/logos/nav-logo-200x200.png">
					</div>
					<div class="col-2 contact-details">
					<a href="https://www.facebook.com/levamedia/" target="_blank"><span class="fab fa-facebook fa-2x sm-icons my-2 mx-2 "></span></a>
					</div>
					<div class="col-2 contact-details">
					<a href="https://www.instagram.com/levamedia/" target="_blank"><span class="fab fa-instagram fa-2x sm-icons my-2 mx-2 "></span></a>

					</div>

					<div class="col-md-12 mt-5">
						<p>©Leva Media Group 2018</p>
					</div>
			
				</div>

			</div>
        </div>
    </div>
</footer>
