<header>
    
	<nav class="navbar navbar-2 navbar-expand-md navbar-light bg-light navfixed-top">
			<div class="navbar-brand">
				<a href="/index"><img class="d-inline-block mx-2 mx-sm-0" src="img/logos/blue-leva-logo-300x300.png"></a><a class="d-inline-block d-sm-none mx-2 mx-sm-0" href="https://www.facebook.com/levamedia/"><span class="fab fa-facebook fa-1x sm-icons"></span></a><a class="d-inline-block d-sm-none mx-2 mx-sm-0" href="https://www.instagram.com/levamedia/"><span class="fab fa-instagram fa-1x sm-icons"></span></a>
			</div>
	

	  <div id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" 
				   href="/index">Home</a>
			</li>
		</ul>

	  </div>
	</nav>
</header>
