<!--  Google Analytics JS for Leva Media Website -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114884762-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114884762-1');
</script>
<!-- End Google Analytics JS-->

<!--Social Media Meta Data og:...--> 

    <meta property="og:title" content="Leva Media Group | Instagram Marketing"/>
    <meta property="og:image" content="https://www.levamediagroup.com/img/logos/FB-logo-1200x630.jpg">
    <meta property="og:image" content="https://www.levamediagroup.com/img/logos/Leva-Media-Group-Logo-1080x1080.png">
    <meta property="og:description" content="Social Media Marketing"/>
    <meta property="og:url" content="https://www.levamediagroup.com/"/>

    <meta name="twitter:title" content="Leva Media Group | Instagram Marketing">
    <meta name="twitter:description" content="Social Media Marketing">
    <meta name="twitter:image" content="https://www.levamediagroup.com/img/logos/Logo-PNG-twitter-1080x540.png">



  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


   <!--Favicons-->
        <link rel="apple-touch-icon" sizes="57x57" href="https://www.levamediagroup.com/img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="https://www.levamediagroup.com/img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="https://www.levamediagroup.com/img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="https://www.levamediagroup.com/img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="https://www.levamediagroup.com/img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="https://www.levamediagroup.com/img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="https://www.levamediagroup.com/img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="https://www.levamediagroup.com/img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="https://www.levamediagroup.com/img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="https://www.levamediagroup.com/img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="https://www.levamediagroup.com/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="https://www.levamediagroup.com/img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="https://www.levamediagroup.com/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="https://www.levamediagroup.com/img/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="https://www.levamediagroup.com/img/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

    
  <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}">
   
<link rel="stylesheet" href="{{ "AOS_css/aos.css" | prepend: site.baseurl }}">

<!--Fonts-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

<!--font Awesome icons-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
   
    

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">


<!-- JSON-LD -->
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Corporation",
  "name" : "Leva Media Group",
  "description" : "Leva is a full service Instagram marketing company. We offer exclusive social media marketing strategy for Instagram by helping brands increase following, grow engagement, and generate positive ROI directly from the platform.",
  "telephone" : "1-917-268-3337",
  "email" : "info@levamediagroup.com",
  "url" : "https://www.levamediagroup.com/",
  "logo": "https://www.levamediagroup.com/img/logos/Leva-Media-Group-Logo-1080x1080.png",
  "sameAs": [
    "https://www.facebook.com/levamedia/",
    "https://www.instagram.com/levamedia/"
  ]
}
</script>





