<header>
    
	<nav class="navbar navbar-expand-md navbar-light fixed-top" data-aos="fade-down" data-aos-anchor="#about">
			<div class="navbar-brand">
				<a href="#home"><img class="d-inline-block mx-2 mx-sm-0" src="img/logos/blue-leva-logo-300x300.png"></a><a class="d-inline-block d-sm-none mx-2 mx-sm-0" href="https://www.facebook.com/levamedia/"><span class="fab fa-facebook fa-1x sm-icons"></span></a><a class="d-inline-block d-sm-none mx-2 mx-sm-0" href="https://www.instagram.com/levamedia/"><span class="fab fa-instagram fa-1x sm-icons"></span></a>
			</div>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" 
				   href="#home">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#about">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#services">Services</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/contact">Contact</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#clients">Clients</a>
			</li>

		</ul>

	  </div>
	</nav>
</header>
